.App {
  text-align: center;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  
  text-decoration:none; 
  
}

html {
  /*font-size: 15*/
}
@media only screen and (max-width: 560px) {
  html {
    font-size: 9px;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App{
  height:100%;
}

.CurrentPage {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 11.6rem 10%;
  margin-top: 130px;
  color: white;
  height: 60%;
  padding-top: 0;
  width: 100%;
  margin-left: 0px;
}
p {
  margin-left: 22%;
}
h1 {
  margin: 0px;
  padding: .99rem 0;
  text-align: center;
  background-color: #6b727f;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #000;
  height: 50px;
  /*text*/
  vertical-align: top;
}

div {
  background-color: #111;
  margin-bottom: 0;
  padding-bottom: 0;

  height: 100%;
}

html {
  /*background-color: #111; */
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  height: 100%;
}
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/